<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3>Our developers</h3>
          <p>In our site you find the best developers in the world</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Advisor-->
      <div *ngFor="let developer of developers" class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
        [routerLink]="['/developers-details/', developer.id]">
          <!-- Team Thumb-->
          <div class="advisor_thumb"><img src="{{developer.imageUrl}}" width="200" alt="">
            <!-- Social Info-->
            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>
          <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6>{{developer.firstName}} {{developer.lastName}}</h6>
            <p class="designation">{{developer.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


